nav {
    background-color: #1a1a1a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    gap: 30px;
}

nav img {
    width: auto;
    height: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: #f9ab00;
}

nav button {

    background-color: var(--col1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 'montserrat','sans-serif';
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease-in-out;
    padding: 10px;
}